body {
    font-family: Poppins, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url('imagens/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.logo{
    width: 350px;
}
.container {
    background: #182d45;
    color: white;
    margin: 1em;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 400px; 
    text-align: center;
    box-sizing: border-box; 
}
.icon{
    width: 70px;
    height: 70px;
}
.fav{
    width: 20px;
    height: 20px;
}
.like-icon{
    width: 20px;
    height: 20px;
}
.row1{
    display: flex;
    flex-direction: row;
    gap: 1em;
    justify-content: space-between;
    margin-bottom: 1em;
}
.row2{
    display: flex;
    flex-direction: row;
    gap: 1em;
}
.column{
    display: flex;
    flex-direction: column;
    gap: 1em;
}
input, textarea {
    font-family: Poppins;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    padding: 10px 20px;
    background-color: #f2cd42;
    font-family: Poppins;
    font-size: 1em;
    color: #1f334a;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%; 
    box-sizing: border-box; 
}

button:hover {
    background-color: #c5a73a;
}

.review {
    margin-top: 10px;
    padding: 10px;
    border-radius: 4px;
    text-align: left;
    background: #1f334a;
}

.review h3 {
    margin: 0;
}

.like-button {
    background-color: #38761d;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    color: white;
    font-size: 1em;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 10px;
}

.like-button:hover {
    background-color: #38761d;
}

.dislike-button {
    background-color: #850001;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    color: white;
    font-size: 1em;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 10px;
}

.dislike-button:hover {
    background-color: #850001;
}
